{% extends 'base.html' %}
{% load static %}



{% block imports %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock imports %}


{% block content %}
<main>
    <h1 class="center-text">Zagiony nr. {{ person.id }}</h1>
    <section class="person-info">
        {% if user.is_superuser or user == person.reporting_person %}
    <section id="admin">
        <a href="{% url 'core:edit' id=person.id %}">Edytuj</a>
        <a href="{% url 'core:delete' id=person.id %}">Usun</a>
    </section>    
    {% endif %}
        <p>{{ person.first_name }} {{ person.last_name }} ({{ person.gender}} {{ person.age}})</p>
        <p><img src="{{ person.photo.url }}"> </p>
        <p>{{ person.description|linebreaks}}</p>
        <p>Dodano: {{ person.created|date:'Y-m-d'}} <br />
        Przez: {{person.reporting_person.username}} </p>
    </section>
    
</main>
{% endblock content %}